@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* base styles */
* { 
  box-sizing: border-box; 
  font-family: 'Montserrat';
}

.container{
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

.user-input {
  padding: 9px 16px;
  min-width: 600px;
  max-width: 100vw;
  font-size: 15px;
}

.search-button {
  background: #02aff0;
  color: white;
  margin: 10px;
  border: 2px solid #02aff0;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background: white;
  color: #02aff0;
  margin: 10px;
  border: 2px solid #02aff0;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}


/* Recipe display styles */
.recipe-list {
  display: grid;
  margin-top: 50px;
  margin-left: 3%;
  align-items: baseline;
  grid-template-columns: 30vw 30vw 30vw;
}

.recipe-tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.recipe-label {
  width: 300px;
  text-align: center;
  margin: 12px 0px;
  font-size: 14px;
}

.recipe-link {
  margin-bottom: 20px;
}

.details-button {
  background: #02aff0;
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  /* margin-left: 75px; */
  border: 2px solid #02aff0;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background: white;
  color: #02aff0;
  margin-top: 0px;
  margin-bottom: 10px;
  /* margin-left: 75px; */
  border: 2px solid #02aff0;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}


/* Recipe details modal styling */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border: 3px solid #02aff0;
}

.modal-header, .modal-footer {
  padding: 10px;
  text-align: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.modal-list {
  text-align: start;
}

.modal-close {
  cursor: pointer;
  background: transparent;
  border: none;
}


/* Hamburger Nav Menu */
.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 200px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
  list-style-type: none;
  /* background: darkcyan; */
}

.nav-link {
  display: block;
  /* float: left; */
  /* padding: 10px 15px; */
  /* margin-top: 45%; */
  text-decoration: none;
  /* color: #7b7b7b; */
  text-transform: uppercase;
  /* font-weight: bold; */
}

.nav-link:hover {
  display: block;
  /* float: left; */
  /* padding: 10px 15px; */
  /* margin-top: 45%; */
  text-decoration: none;
  /* color: #3fffd2; */
  text-transform: uppercase;
  /* font-weight: bold; */
  vertical-align: middle;
}

.menuNav li:first-child {
  margin-top: 40%;
}