@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* base styles */
* { 
  box-sizing: border-box; 
  font-family: 'Montserrat';
}

/* body{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #274B74 0%, #8233C5 50%, #E963FD 100%);
  font-family: "Montserrat", sans-serif;
} */

.container{
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
  }

/* input[type=text]{
  position: relative;
  padding: 10px 40px 10px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
}
input:focus{ width: 600px; } */

.search-form {
}

.user-input {
  padding: 9px 16px;
  margin-bottom: 100px;
  min-width: 600px;
  max-width: 100vw;
  font-size: 15px;

}

.search-button {
  background: #02aff0;
  color: white;
  margin: 10px;
  border: 2px solid #02aff0;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.search-button:hover {
  background: white;
  color: #02aff0;
  margin: 10px;
  border: 2px solid #02aff0;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* Recipe display styles */
.recipe-list {
  display: grid;
  margin-left: 20vw;
  grid-template-columns: 30vw 30vw 30vw;
}

/* .recipe-tile {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.recipe-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.recipe-label {
  width: 300px;
  text-align: center;
  margin: 12px 0px;
}